<%- include('../partials/header') %>

    <div class="row">
            <h1 class="text-center">Add new comment to <%= campground.name %></h1>
            <div style="width:30%; margin: 25px auto;">
                    <form action="/campgrounds/<%=campground._id %>/comments" method="POST">
                      
                        <input class="form-control form-group " type="text" name="comment[text]" placeholder="text">

                        <button class="btn btn-lg  form-group btn-primary btn-block " >Submit</button>
                    </form> 
                    <a href="/campgrounds" class="lead">Go back </a>
            </div>
            
    </div>
<%- include('../partials/footer') %>
