<%- include('./partials/header') %>

<h1>Hi this is the register page</h1>


<div class="row">
        <div style="width: 30%; margin: 25px auto;">
         <h1 style="text-align: center">Login</h1>
        
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
                <input class="form-control btn btn-primary" type="submit" value="Login">
            </div>
        </form>
        <a href="/campgrounds" class="lead">Go back </a>
        </div>
      </div>
    </div>
    
    

<%- include('./partials/footer') %>