
<%- include('partials/header') %>

<h1>This is campground Page</h1>

<a href="/campgrounds/new">Add a campground</a>

<% campgrounds.forEach(function(campgrounds){ %>

    <div>
        <h4><%= campgrounds.name %></h4>
        <img src="<%= campgrounds.image %>">

    </div>
<% }); %>


<%- include('partials/footer') %>
