<%- include('partials/header') %>


<form class="form-inline "  action="/campgrounds" method="POST">
    <input type="text" name="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit</button>
</form>

<%- include('partials/footer') %>
